<html>
<head>
    <title>Pi Flashing LED</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Pi Flashing LED</h1>
            </div>
            <div class="btn-toolbar">
                <button class="btn btn-success">Flash Green</button>
                <button class="btn btn-danger">Flash Red</button>
            </div>
        </div>
    </div>

</body>
</html>
